Repository natilou/CTD-proyecto-integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Path conditions:
  front_build: any of: frontend/**/*
  front_test: any of: frontend/**/*
  front_deploy: any of: frontend/**/*
  back_build-job: any of: backend/**/*, Dockerfile
  back_image_build-job: any of: backend/**/*, Dockerfile
  back_unit-test-job: any of: backend/**/*, Dockerfile
  back_lint-test-job: any of: backend/**/*, Dockerfile
  back_deploy-job: any of: backend/**/*, Dockerfile

Agrego devolver id de usuario al hacer login, para reutilizarlo al momento de realizar la reserva y gif de not-found cuanod no haya productos disponibles en la busqueda por filtros
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/AuthDto.java
  frontend/src/assets/gifs/notFound.gif
  frontend/src/assets/gifs/notFound2.gif
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FilterResults/FilterResults.css
  frontend/src/components/FilterResults/index.jsx
  frontend/src/components/FilterResults/utils.js
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Actualizacion de respuestas en POST y Encriptacion password
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/PasswordEncoder.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/CategoryController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Corrección de ProductController - Creación de ImageController
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ImageController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/FeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

SE traen las políticas de la base de datos
  frontend/package-lock.json
  frontend/src/components/ProductPolices/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

actualizacion de 40minutos duracion token
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

conectado con API para registro de usuario
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/AuthDto.java
  frontend/src/components/Header/index.jsx
  frontend/src/pages/LogIn/index.jsx
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

2 Endpoints: Cargar imágenes en S3 - Crear producto
  backend/.idea/runConfigurations.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ImageRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambio de endpoint para cargar imagenes
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

agregando rol de admin en registro de usuario
  frontend/src/pages/Register/Register.css
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy

Modificación Endpoint: crear product
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambiando validaciones de login
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/LogIn/LogIn.css
  frontend/src/pages/LogIn/index.jsx
  frontend/src/pages/LogIn/utils.js
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy

filtro de ciudades y fecha
  frontend/src/components/FilterResults/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/utils.js
Due: front_build, front_test, front_deploy

Retiro de log en la galería de imágenes
  frontend/src/components/Gallery/index.jsx
Due: front_build, front_test, front_deploy

agregando validaciones
  frontend/src/components/Header/Header.css
  frontend/src/components/PictureInput/PictureInput.css
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Mejora endpoint: Crear producto (Obtiene el User del token)
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/AuthService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

fix policies
  frontend/src/components/ProductPolices/index.jsx
  frontend/src/pages/Product/Product.css
Due: front_build, front_test, front_deploy

Mejoras en Servicios: Booking, Category, City, Image, ProductFeature, Product - Controllers: Product, ProductFeature
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/BookingRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CategoryService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CityService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductFeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Merge develop into decode-token
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambiando endopoint a la nube
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

Fix endpoints SIN restringir
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Fix Endpoints SIN RESTRICCIONES
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Mejoras ProductController - ProductService
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/ProductDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/UserRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/AuthService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CategoryService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CityService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Configuration Application.properties
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

f
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/App/index.jsx
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/AvatarView/index.jsx
  frontend/src/components/CardCategory/index.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/pages/UserReservation/UserReservation.css
  frontend/src/pages/UserReservation/index.jsx
Due: front_build, front_test, front_deploy

validation
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Register/index.jsx
  frontend/src/pages/UserReservation/index.jsx
Due: front_build, front_test, front_deploy

arreglo de errores
  frontend/src/components/App/index.jsx
Due: front_build, front_test, front_deploy

Fix endpoints restringidos
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Manejo de excepciones - Modificación: ImageController-ImageService
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ImageController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/exceptions/GlobalExceptions.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/exceptions/IOException.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Botones adelante y atrás en la galería de imagenes
  frontend/src/components/Gallery/index.jsx
Due: front_build, front_test, front_deploy

Permisologia endpoint agregar productos solo admin
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

get userbooking
  frontend/src/components/Header/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Administration/validateProduct.js
  frontend/src/pages/UserReservation/index.jsx
Due: front_build, front_test, front_deploy

UserService editado
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Revert "cambiando conexion a base de datos por problemas con la original, apuntando a backup"
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

checkeo de response status en el login y registro, cambio de manejo de excepciones en el back en auth
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  frontend/src/pages/LogIn/index.jsx
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

ignore idea
  .gitignore
Due: none

Corrección Permisos por roles - ResourceNotFound exceptions en métodos BUSCAR de todos los servicios
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CategoryService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CityService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/FeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductFeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/TypeService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

decoder token
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambiando conexion a base de datos por problemas con la original, apuntando a backup
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint: consultar bookings del usuario logueado
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job
