Repository natilou/CTD-proyecto-integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Path conditions:
  front_build: any of: frontend/**/*
  front_test: any of: frontend/**/*
  front_deploy: any of: frontend/**/*
  back_build-job: any of: backend/**/*, Dockerfile
  back_image_build-job: any of: backend/**/*, Dockerfile
  back_unit-test-job: any of: backend/**/*, Dockerfile
  back_lint-test-job: any of: backend/**/*, Dockerfile
  back_deploy-job: any of: backend/**/*, Dockerfile

add: Dockerfile
  backend/PI_grupo_10/Dockerfile
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

some fixes
  frontend/src/components/AvatarView/AvatarView.test.jsx
  frontend/src/components/CardRecommendation/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/LogIn/constants.js
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

Add authorization token
  backend/PI_grupo_10/pom.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/AuthDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/UserRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/security/JWTAuthorizationFilter.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambios update token
  .idea/grupo-10.iml
  .idea/modules.xml
  .idea/runConfigurations.xml
  .idea/vcs.xml
  .idea/workspace.xml
  backend/.idea/.gitignore
  backend/.idea/dbnavigator.xml
  backend/.idea/misc.xml
  backend/.idea/runConfigurations.xml
  backend/.idea/vcs.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Se agrega endpoints para crear y obtener reserva
  backend/.idea/jpa-buddy.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Booking.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/BookingDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/BookingRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

utilizando el atributo de imagen de portada para todos los productos
  frontend/src/components/CardRecommendation/index.jsx
Due: front_build, front_test, front_deploy

agregando atributo a modelo product para tener una imagen de portada
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

fixies
  frontend/src/components/AvatarView/index.jsx
  frontend/src/components/BookingAction/index.jsx
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/components/Menu/index.jsx
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

conectando api con front
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/Booking/Booking.css
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

Selección random de 8 productos para HOME
  backend/.idea/backend.iml
  backend/.idea/modules.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CategoryService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CityService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/FeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Add authorization to Booking endpoints
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Booking.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/BookingDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/security/JWTAuthorizationFilter.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

agregando tests en avatar y configurando libreria fetch mock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AvatarView/AvatarView.test.jsx
  frontend/src/components/AvatarView/index.jsx
  frontend/src/setupTests.js
Due: front_build, front_test, front_deploy

cityfilter
  frontend/src/components/Calendar/index.jsx
  frontend/src/components/CardRecommendation/CardRecommendation.css
  frontend/src/components/CardRecommendation/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/components/Selector/index.jsx
  frontend/src/context/UserContext.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

doc's context
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/Header/index.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/context/UserContext.jsx
Due: front_build, front_test, front_deploy

fitler cities and context
  frontend/src/components/Calendar/index.jsx
  frontend/src/components/CardRecommendation/CardRecommendation.css
  frontend/src/components/FormFilter/index.jsx
  frontend/src/components/Selector/index.jsx
  frontend/src/context/AuthContext.jsx
  frontend/src/context/UserContext.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

update
  backend/.idea/workspace.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/Header/index.jsx
  frontend/src/context/UserContext.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

styles av
  frontend/src/components/AvatarView/AvatarView.css
Due: front_build, front_test, front_deploy

agregando fetch a API para login y reserva
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Revert "agregando fetch a API para login y reserva"
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

agregando validacion al login
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

Filtro de productos por fechas disponibles
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/BookingRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CategoryService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

modificando configuraciones de application
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

conectando front con api
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/CalendarProduct/index.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/components/Selector/index.jsx
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

fetch a endpoint de fechas
  frontend/src/components/FormFilter/index.jsx
Due: front_build, front_test, front_deploy

fix endpoint busqueda fecha
  frontend/src/components/FormFilter/index.jsx
Due: front_build, front_test, front_deploy

fix - no estaba enviando bien el token al realizar la reserva
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

mejorando seccion de busqueda por fecha
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

mejorando estilo de booking page, tambien mejorando la version responsive de esta pagina y mejorando el estilo de avatar en la version mobile
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/BookingAction/index.jsx
  frontend/src/components/BookingForm/BookingForm.css
  frontend/src/components/BookingForm/index.jsx
  frontend/src/components/CalendarBooking/CalendarBooking.css
  frontend/src/components/CalendarBooking/index.jsx
  frontend/src/pages/Booking/Booking.css
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/SuccessfulBooking/SuccessfulBooking.css
Due: front_build, front_test, front_deploy

agreango icono a la pestaña web
  frontend/public/favicon.ico
  frontend/public/index.html
Due: front_build, front_test, front_deploy

arreglando padding de botones y agreando pointer a esos botones
  frontend/src/components/Header/Header.css
Due: front_build, front_test, front_deploy

fix en el filtro de ciudades
  frontend/src/components/Selector/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

fix en fetch a bookings, no funcionaba cuando el dia o el mes tenia un digito
  frontend/src/components/CalendarBooking/index.jsx
  frontend/src/pages/Booking/index.jsx
Due: front_build, front_test, front_deploy

mejorando estilo de avatar en mobile y calendar de home en mobile
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/CalendarBooking/CalendarBooking.css
Due: front_build, front_test, front_deploy

creacion de pagina de creacion de producto exitosa y cambio de nombre de ruta de /reserva a /booking para seguir con las rutas en ingles
  frontend/src/components/App/index.jsx
  frontend/src/components/BookingAction/index.jsx
  frontend/src/components/SuccessfulPage/Successful.test.jsx
  frontend/src/components/SuccessfulPage/SuccessfulPage.css
  frontend/src/components/SuccessfulPage/index.jsx
  frontend/src/pages/SuccessfulProductionCreation/index.jsx
Due: front_build, front_test, front_deploy

Creación del formulario de producto
  frontend/src/components/App/index.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Se agregan checkbox de selección múltiple para los atributos del producto
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Estilos del checkbox
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy
