Repository natilou/CTD-proyecto-integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Path conditions:
  front_build: any of: frontend/**/*
  front_test: any of: frontend/**/*
  front_deploy: any of: frontend/**/*
  back_build-job: any of: backend/**/*, Dockerfile
  back_image_build-job: any of: backend/**/*, Dockerfile
  back_unit-test-job: any of: backend/**/*, Dockerfile
  back_lint-test-job: any of: backend/**/*, Dockerfile
  back_deploy-job: any of: backend/**/*, Dockerfile

Fix JWTGenerator - asigna el ROLE: ADMIN/USER según el user que se loguea
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Fix endpoints restringidos
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/CityController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambiando conexion a base de datos por problemas con la original, apuntando a backup
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Revert "fix policies"
  frontend/src/components/ProductPolices/index.jsx
  frontend/src/pages/Product/Product.css
Due: front_build, front_test, front_deploy

update
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/AvatarView/index.jsx
  frontend/src/components/Header/Header.css
  frontend/src/components/Header/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Administration/validateProduct.js
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

add the main structure delete booking
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/AvatarView/index.jsx
  frontend/src/components/BookingUser/BookingUser.css
  frontend/src/components/BookingUser/index.jsx
  frontend/src/components/CardRecommendation/CardRecommendation.css
  frontend/src/components/Menu/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Register/index.jsx
  frontend/src/pages/UserReservation/UserReservation.css
  frontend/src/pages/UserReservation/index.jsx
Due: front_build, front_test, front_deploy

Botones adelante y atrás en galería
  frontend/src/assets/images/icons/next.png
  frontend/src/assets/images/icons/prev.png
  frontend/src/components/Gallery/index.jsx
Due: front_build, front_test, front_deploy

Validación: no se pueden registrar dos usuarios con el mismo email
  backend/PI_grupo_10/pom.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/CategoryController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ImageController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/UserController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/exceptions/BadRequestException.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/exceptions/GlobalExceptions.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewPolicy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductFeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Error de Respuesta login solucionado y agg endpoint delete booking
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/PasswordEncoder.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/UserRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Permisologia por roles
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Fix: ProductService -> Agregar()
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

agregando validaciones
  frontend/src/components/Header/Header.css
  frontend/src/components/PictureInput/PictureInput.css
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

borrar ver en el mapa
  frontend/src/components/CardRecommendation/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

Revert "borrar ver en el mapa"
  frontend/src/components/CardRecommendation/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

eliminar ver en el mapa
  frontend/src/components/CardRecommendation/index.jsx
Due: front_build, front_test, front_deploy

agregando tests unitarios
  frontend/src/components/AvatarView/AvatarView.test.jsx
  frontend/src/components/BookingAction/BookingActions.test.jsx
  frontend/src/components/BookingAction/index.jsx
  frontend/src/components/BookingDetail/BookingDetail.test.jsx
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/LogIn/Login.test.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

fix typo
  frontend/src/components/Menu/index.jsx
Due: front_build, front_test, front_deploy

Mejora: model Category incluye atributo productAmount
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/CategoryController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Category.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CategoryService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint para consultar fechas no disponibles por productId
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint: Eliminar product
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductFeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductFeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint: Eliminar booking
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Cantidad de productos por categoria
  frontend/package-lock.json
  frontend/src/components/CardCategory/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

deshabilitando fechas de calendarios
  frontend/src/components/CalendarBooking/index.jsx
  frontend/src/components/CalendarProduct/index.jsx
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

fix login envio datos por body
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

Fix endpoint: Login - Recibe email/password en el BODY
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/AuthCredential.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Mejora endpoint: Obtener productos del usuario ADMIN logueado
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint: listar productos de usuario ADMIN logueado
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Paǵina productos del admin
  frontend/src/components/App/index.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/components/Menu/index.jsx
  frontend/src/components/ProductAdmin/ProductAdmin.css
  frontend/src/components/ProductAdmin/index.jsx
  frontend/src/pages/ProductAdministration/ProductAdministration.css
  frontend/src/pages/ProductAdministration/index.jsx
Due: front_build, front_test, front_deploy

Página productos
  frontend/src/pages/ProductAdministration/index.jsx
Due: front_build, front_test, front_deploy

Eliminación de productos
  frontend/src/components/ProductAdmin/index.jsx
  frontend/src/pages/ProductAdministration/index.jsx
Due: front_build, front_test, front_deploy

borrar reserva
  frontend/src/components/BookingUser/BookingUser.css
  frontend/src/components/BookingUser/index.jsx
Due: front_build, front_test, front_deploy

agregando informe final de testing
  qa-testing/Reporte _final_de_testing.pdf
Due: none

mejorando estilo de titulo
  frontend/src/pages/Home/Home.css
Due: front_build, front_test, front_deploy

agregando scripts de modificaciones de tablas
  base-de-datos/tables/categories.sql
  base-de-datos/tables/products.sql
  base-de-datos/tables/roles.sql
Due: none

modificando typos
  base-de-datos/tables/categories.sql
  frontend/src/components/Menu/index.jsx
  frontend/src/components/ProductPolices/index.jsx
Due: front_build, front_test, front_deploy

Create README.md
  README.md
Due: none
