Repository natilou/CTD-proyecto-integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Path conditions:
  front_build: any of: frontend/**/*
  front_test: any of: frontend/**/*
  front_deploy: any of: frontend/**/*
  back_build-job: any of: backend/**/*, Dockerfile
  back_image_build-job: any of: backend/**/*, Dockerfile
  back_unit-test-job: any of: backend/**/*, Dockerfile
  back_lint-test-job: any of: backend/**/*, Dockerfile
  back_deploy-job: any of: backend/**/*, Dockerfile

mejorando seccion de busqueda por fecha
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

agreango icono a la pestaña web
  frontend/public/favicon.ico
  frontend/public/index.html
Due: front_build, front_test, front_deploy

fix - no estaba enviando bien el token al realizar la reserva
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

fix en fetch a bookings, no funcionaba cuando el dia o el mes tenia un digito
  frontend/src/components/CalendarBooking/index.jsx
  frontend/src/pages/Booking/index.jsx
Due: front_build, front_test, front_deploy

Creación del formulario de producto
  frontend/src/components/App/index.jsx
  frontend/src/components/Header/index.jsx
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Refactor: relación entre Product/Feature con entidad intermedia y compositeKey: ProductFeature y ProductFeatureKey
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Feature.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/ProductFeature.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/ProductFeatureKey.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/ProductDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/FeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductFeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductFeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

mejorando estilo de avatar en mobile y calendar de home en mobile
  frontend/src/components/AvatarView/AvatarView.css
  frontend/src/components/CalendarBooking/CalendarBooking.css
Due: front_build, front_test, front_deploy

fix select de ciudades
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Calendar/Calendar.css
  frontend/src/components/FormFilter/FormFilter.css
  frontend/src/components/FormFilter/index.jsx
  frontend/src/components/Selector/Selector.css
  frontend/src/components/Selector/index.jsx
Due: front_build, front_test, front_deploy

Estilos del checkbox
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Se agregan checkbox de selección múltiple para los atributos del producto
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Creación del input para imágenes múltiples
  frontend/src/components/PictureInput/PictureInput.css
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

crud registro usuario
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/UserController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Role.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/User.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint creación de productos SIN MultipartFile
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

fix fonts size
  frontend/src/components/Calendar/Calendar.css
  frontend/src/components/Selector/Selector.css
Due: front_build, front_test, front_deploy

uso de base 64 para envío de imágenes
  frontend/package-lock.json
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Prueba - Se agrega el manejo de MultipartFile para cargar una imagen de producto en S3
  backend/PI_grupo_10/pom.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewPolicy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/S3Util.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint para creación de Product parcial
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewPolicy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/TypeService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cuando se crea un producto se direcciona al home
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Ajustes a estilos
  frontend/src/pages/Administration/Administration.css
Due: front_build, front_test, front_deploy

arreglando padding de botones y agreando pointer a esos botones
  frontend/src/components/Header/Header.css
Due: front_build, front_test, front_deploy

modificando base de datos
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

creacion de pagina de creacion de producto exitosa y cambio de nombre de ruta de /reserva a /booking para seguir con las rutas en ingles
  frontend/src/components/App/index.jsx
  frontend/src/components/BookingAction/index.jsx
  frontend/src/components/SuccessfulPage/Successful.test.jsx
  frontend/src/components/SuccessfulPage/SuccessfulPage.css
  frontend/src/components/SuccessfulPage/index.jsx
  frontend/src/pages/SuccessfulProductionCreation/index.jsx
Due: front_build, front_test, front_deploy

Multipart para imagenes
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Corrección - Configuración para conectarse a la BD de la nube
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Se consume el endpoint que carga todas las features
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

botón administración en el menú hamburguesa
  frontend/src/components/Menu/index.jsx
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Selector de categorías
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Endpoint: listar todas las features
  backend/PI_grupo_10/PI_grupo_10.zip
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/BookingDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/BookingRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/FeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CityService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/FeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Botón crear
  frontend/src/components/PictureInput/PictureInput.css
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

fix en el filtro de ciudades
  frontend/src/components/Selector/index.jsx
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

fix iconos de card en home, iconos de caracteristicas en la pagina de cada producto
  frontend/src/components/Calendar/Calendar.css
  frontend/src/components/CardRecommendation/CardRecommendation.css
  frontend/src/components/CardRecommendation/index.jsx
  frontend/src/components/Selector/Selector.css
  frontend/src/pages/Product/Product.css
Due: front_build, front_test, front_deploy

Endpoint: consultar Policies por ProductId
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/PolicyController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/PolicyRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambiando validaciones de registro
  frontend/src/pages/Register/Register.css
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy

Mejorando ProductController
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Se envia toda la información de producto
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

change on delete
  base-de-datos/tables/bookings.sql
  base-de-datos/tables/products_features.sql
Due: none

fix al realizar reserva
  frontend/src/components/CalendarBooking/index.jsx
  frontend/src/components/FilterResults/index.jsx
  frontend/src/pages/Home/utils.js
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

Endpoint: consultar disponibilidad de Productos por Fechas y/o CityId
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

2 Endpoints de prueba: recibir MultipartFile o List<MultipartFile> y subirlos a S3
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

fix de componente para filtros
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy
