Repository natilou/CTD-proyecto-integrador: changes, and which GitLab CI jobs are due for each by the changed paths.
All: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Path conditions:
  front_build: any of: frontend/**/*
  front_test: any of: frontend/**/*
  front_deploy: any of: frontend/**/*
  back_build-job: any of: backend/**/*, Dockerfile
  back_image_build-job: any of: backend/**/*, Dockerfile
  back_unit-test-job: any of: backend/**/*, Dockerfile
  back_lint-test-job: any of: backend/**/*, Dockerfile
  back_deploy-job: any of: backend/**/*, Dockerfile

fix fonts size
  frontend/src/components/Calendar/Calendar.css
  frontend/src/components/Selector/Selector.css
Due: front_build, front_test, front_deploy

Endpoint: listar todas las features
  backend/PI_grupo_10/PI_grupo_10.zip
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/BookingDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/BookingRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/FeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/BookingService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/CityService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/FeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Se consume el endpoint que carga todas las features
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Creación del input para imágenes múltiples
  frontend/src/components/PictureInput/PictureInput.css
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Botón crear
  frontend/src/components/PictureInput/PictureInput.css
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Ajustes a estilos
  frontend/src/pages/Administration/Administration.css
Due: front_build, front_test, front_deploy

fix select de ciudades
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Calendar/Calendar.css
  frontend/src/components/FormFilter/FormFilter.css
  frontend/src/components/FormFilter/index.jsx
  frontend/src/components/Selector/Selector.css
  frontend/src/components/Selector/index.jsx
Due: front_build, front_test, front_deploy

fix iconos de card en home, iconos de caracteristicas en la pagina de cada producto
  frontend/src/components/Calendar/Calendar.css
  frontend/src/components/CardRecommendation/CardRecommendation.css
  frontend/src/components/CardRecommendation/index.jsx
  frontend/src/components/Selector/Selector.css
  frontend/src/pages/Product/Product.css
Due: front_build, front_test, front_deploy

Refactor: relación entre Product/Feature con entidad intermedia y compositeKey: ProductFeature y ProductFeatureKey
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Feature.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Product.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/ProductFeature.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/ProductFeatureKey.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/ProductDto.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/FeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductFeatureRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductFeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint para creación de Product parcial
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewPolicy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/TypeService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Selector de categorías
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

uso de base 64 para envío de imágenes
  frontend/package-lock.json
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

botón administración en el menú hamburguesa
  frontend/src/components/Menu/index.jsx
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

cuando se crea un producto se direcciona al home
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/Administration.css
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

crud registro usuario
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/UserController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Role.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/User.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Multipart para imagenes
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

modificando base de datos
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

Prueba - Se agrega el manejo de MultipartFile para cargar una imagen de producto en S3
  backend/PI_grupo_10/pom.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewPolicy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/S3Util.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ProductRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Corrección - Configuración para conectarse a la BD de la nube
  backend/PI_grupo_10/src/main/resources/application.properties
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint creación de productos SIN MultipartFile
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

2 Endpoints de prueba: recibir MultipartFile o List<MultipartFile> y subirlos a S3
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

conectado con API para registro de usuario
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/PiGrupo10Application.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/AuthDto.java
  frontend/src/components/Header/index.jsx
  frontend/src/pages/LogIn/index.jsx
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

agregando rol de admin en registro de usuario
  frontend/src/pages/Register/Register.css
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy

2 Endpoints: Cargar imágenes en S3 - Crear producto
  backend/.idea/runConfigurations.xml
  backend/.idea/vcs.xml
  backend/.idea/workspace.xml
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/ImageRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ImageService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Modificación Endpoint: crear product
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/NewProduct.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

cambiando validaciones de login
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/LogIn/LogIn.css
  frontend/src/pages/LogIn/index.jsx
  frontend/src/pages/LogIn/utils.js
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy

Se envia toda la información de producto
  frontend/src/components/PictureInput/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

Endpoint: consultar Policies por ProductId
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/PolicyController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/Policy.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/repository/PolicyRepository.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Endpoint: consultar disponibilidad de Productos por Fechas y/o CityId
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

SE traen las políticas de la base de datos
  frontend/package-lock.json
  frontend/src/components/ProductPolices/index.jsx
  frontend/src/pages/Administration/index.jsx
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/Product/index.jsx
Due: front_build, front_test, front_deploy

cambio de endpoint para cargar imagenes
  frontend/src/pages/Administration/index.jsx
Due: front_build, front_test, front_deploy

Corrección de ProductController - Creación de ImageController
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ImageController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/FeatureService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/PolicyService.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

Mejorando ProductController
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/ProductService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

filtro de ciudades y fecha
  frontend/src/components/FilterResults/index.jsx
  frontend/src/components/FormFilter/index.jsx
  frontend/src/pages/Home/index.jsx
  frontend/src/pages/Home/utils.js
Due: front_build, front_test, front_deploy

cambiando validaciones de registro
  frontend/src/pages/Register/Register.css
  frontend/src/pages/Register/index.jsx
Due: front_build, front_test, front_deploy

Agrego devolver id de usuario al hacer login, para reutilizarlo al momento de realizar la reserva y gif de not-found cuanod no haya productos disponibles en la busqueda por filtros
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/AuthController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/model/dto/AuthDto.java
  frontend/src/assets/gifs/notFound.gif
  frontend/src/assets/gifs/notFound2.gif
  frontend/src/components/BookingDetail/index.jsx
  frontend/src/components/FilterResults/FilterResults.css
  frontend/src/components/FilterResults/index.jsx
  frontend/src/components/FilterResults/utils.js
  frontend/src/pages/Booking/index.jsx
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy, back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job

change on delete
  base-de-datos/tables/bookings.sql
  base-de-datos/tables/products_features.sql
Due: none

fix al realizar reserva
  frontend/src/components/CalendarBooking/index.jsx
  frontend/src/components/FilterResults/index.jsx
  frontend/src/pages/Home/utils.js
  frontend/src/pages/LogIn/index.jsx
Due: front_build, front_test, front_deploy

fix de componente para filtros
  frontend/src/pages/Home/index.jsx
Due: front_build, front_test, front_deploy

Actualizacion de respuestas en POST y Encriptacion password
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/JwtGenerator.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/config/PasswordEncoder.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/BookingController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/CategoryController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/FeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/controller/ProductFeatureController.java
  backend/PI_grupo_10/src/main/java/com/example/PI_grupo_10/service/UserService.java
Due: back_build-job, back_image_build-job, back_unit-test-job, back_lint-test-job, back_deploy-job
